* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(220, 76%, 83%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#wrapper {
    max-width: 75%;
    height: auto;
    border-radius: 15px;
    background-color: #fff;
}

.qr__image {
    border-radius: 5px;
}
.image {
    padding: 15px 0;
    max-width: 310px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 5px;
}

.para {
    text-align: center;
    font-size: 15px;
    padding: 15px;
}
.bold {
    font-weight: bold;
}

.normal {
    opacity: .45;
    padding-bottom: 30px;
}

@media screen and (min-width: 500px) {
    #wrapper {
        width: 350px;
    }
}